<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course Builder</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .col-sm-4,
        .col-sm-3 {
            border-right: 1px solid gray;
        }

        textarea {
            overflow-y: scroll;
            /* height: 100px; */
            resize: none;
        }

        .far-right {
            overflow-y: scroll;
            height: 1000px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="container">
            <h1>Course Blueprint Builder</h1>
            <hr>
        </div>
        <div class="container-fluid" :class="{'container': (modules == '')}">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-book"></i>
                                </div>
                            </div>
                            <input id="course_title" name="course_title" placeholder="Course Title" type="text"
                                required="required" class="form-control" v-model="courseTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-user-circle"></i>
                                </div>
                            </div>
                            <input id="course_client" name="course_client" placeholder="Client" type="text"
                                class="form-control" v-model="courseClient">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-calendar-check-o"></i>
                                </div>
                            </div>
                            <input id="course_duration" name="course_duration" placeholder="Course Duration" type="text"
                                class="form-control" v-model="courseDuration">
                            <div class="input-group-append">
                                <div class="input-group-text">Days</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="module_titles">Module Titles (each on a new line)</label> <br>
                        <textarea v-model="modules" id="module_titles" name="module_titles" cols="40" rows="10"
                            class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="objectives">Objectives (each on a new line)</label> <br>
                        <textarea v-model="objectives" id="objectives" name="objectives" cols="40" rows="10"
                            class="form-control"></textarea>
                        <!-- for debug purposes -->
                        <!-- {{objectiveList}}
                        <hr>
                        {{moduleTitles}} <br>
                        {{topics}} <br>
                        {{backup}} <br>
                        <hr> -->
                    </div>
                </div>
                <div v-if="modules != ''" class="col">
                    <div class="module" v-for="(module,index) in moduleTitles">
                        <div v-if="(module!='')" class="moduleform">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed"
                                                :class="{'collapsed':(index!= moduleTitles.length-1)}" type="button"
                                                data-toggle="collapse" :data-target="'#m'+index" aria-expanded="true"
                                                :aria-controls="'m'+index">
                                                Module {{index+1}} {{module}}
                                            </button>
                                        </h2>
                                    </div>
                                    <div :id="'m'+index" class="collapse"
                                        :class="{'show': (index == moduleTitles.length-1)}" aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <input id="module_subtitle" name="module_subtitle"
                                                    placeholder="Module Subtitle" type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <input id="module_instructor" name="module_instructor"
                                                    placeholder="Module Instructor" type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input id="module_duration" name="module_duration"
                                                        placeholder="Module Duration" type="text" class="form-control">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">Minutes</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="topic_titles">Topic (Slide) Titles</label> <br>
                                                <textarea v-model="topics[index]" :id="'topic_titles'+index"
                                                    name="topic_titles" cols="40" rows="5"
                                                    class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="modules != ''" class="col-md-6 far-right">
                    <div class="module" v-for="(module,index_module) in moduleTitles">
                        <div v-if="(index_module < topics.length && topicTitles(index_module) != '')"
                            class="topic formform">
                            <h2> Module {{index_module+1}} {{module}}</h2>
                            <div class="topic" v-for="(topic,index_topic) in topicTitles(index_module)">
                                <div v-if="(topic !='')" class="topicform">
                                    <h3> {{topic}}</h3>
                                    <div class="form-group">
                                        <textarea id="topic_slide_text" name="topic_slide_text" cols="40" rows="3"
                                            aria-describedby="topic_slide_textHelpBlock"
                                            class="form-control"></textarea>
                                        <span id="topic_slide_textHelpBlock" class="form-text text-muted">Topic Slide
                                            Text</span>
                                    </div>
                                    <div class="form-group">
                                        <textarea id="topic_participant_notes" name="topic_participant_notes" cols="40"
                                            rows="3" aria-describedby="topic_participant_notesHelpBlock"
                                            class="form-control"></textarea>
                                        <span id="topic_participant_notesHelpBlock" class="form-text text-muted">Topic
                                            Participant
                                            Notes</span>
                                    </div>
                                    <div class="form-group">
                                        <textarea id="topic_instructor_notes" name="topic_instructor_notes" cols="40"
                                            rows="3" aria-describedby="topic_instructor_notesHelpBlock"
                                            class="form-control"></textarea>
                                        <span id="topic_instructor_notesHelpBlock" class="form-text text-muted">Topic
                                            Instructor
                                            Notes</span>
                                    </div>
                                    <div class="form-group">
                                        <select id="id_objective" name="id_objective"
                                            aria-describedby="id_objectiveHelpBlock" class="form-control">
                                            <option selected value="">Please select objective</option>
                                            <option v-for="(objective,index_objective) in objectiveList"
                                                :value="objective">
                                                {{index_objective +1}}. {{objective.substring(0,40)}}...</option>
                                        </select>
                                        <span id="id_objectiveHelpBlock" class="form-text text-muted">Objective</span>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input name="topic_media" id="topic_media_0" type="checkbox"
                                                    class="form-check-input" value="graphic"
                                                    aria-describedby="topic_mediaHelpBlock">
                                                <label for="topic_media_0" class="form-check-label">Graphic</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input name="topic_media" id="topic_media_1" type="checkbox"
                                                    class="form-check-input" value="video"
                                                    aria-describedby="topic_mediaHelpBlock">
                                                <label for="topic_media_1" class="form-check-label">Video</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input name="topic_media" id="topic_media_2" type="checkbox"
                                                    class="form-check-input" value="animation"
                                                    aria-describedby="topic_mediaHelpBlock">
                                                <label for="topic_media_2" class="form-check-label">Animation</label>
                                            </div>
                                            <span id="topic_mediaHelpBlock" class="form-text text-muted">Media
                                                Required</span>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            courseTitle: "",
            mods: [{
                title: '',
                subtitle: '',
                moduleDuration: '',
                topics: [{
                    topicSlideText: '',
                    topicPGNotes: '',
                    topicIGNotes: '',
                    topicObj: '',
                    mediaReq: []
                }]
            }],
            courseClient: "",
            courseDuration: "",
            modules: "",
            objectives: "Introduction of the module.",
            topics: [], // array location indicates module number in modules text string - 1
            // courseTitle: "Advanced Nuclear Something",
            // courseClient: "DAW",
            // courseDuration: "4",
            // modules: "Guidelines\nThe Need for Safety\nRisk", 
            // objectives: "List guidelines set forth in those books\nIdentify the need for risk analysis",
            // topics: ["Risk Equation", "Mapping Risk\nRecognizing Risk"], // array location indicates module number in modules text string - 1
            topicSlideText: [], // 
            topicParticipantNotes: [],
            topicInstructorNotes: [],
            topicObjective: [],
            topicMediaRequired: []
        },
        computed: {
            moduleTitles: function () {
                return this.modules.split(/\r|\n/)
            },
            objectiveList: function () {
                return this.objectives.split(/\r|\n/)
            },
            backup: function () {
                var jsonBackup = {}
                let that = this
                jsonBackup.course_title = this.courseTitle
                jsonBackup.modules = []
                this.moduleTitles.forEach(function (mod, module_index) {
                    jsonBackup.modules.push({
                        module_title: mod
                    })
                });
                return jsonBackup
            }
        },
        methods: {
            topicTitles: function (index) {
                let topicTitle = ''
                if (this.topics[index]) {
                    return this.topics[index].split(/\r|\n/)
                } else {
                    return ""
                }
            }
        }
    })
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>